In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
# 예제 데이터프레임 생성
np.random.seed(42)
df = pd.DataFrame({
    'feature_1': np.random.normal(10, 2, 100),
    'feature_2': np.random.normal(50, 10, 100)
})

In [7]:
# 결측치 일부 삽입
df.loc[[5, 15, 25], 'feature_1'] = np.nan
df.loc[[3, 23], 'feature_2'] = np.nan

df.head(10)  # 앞의 10개만 미리보기

   feature_1  feature_2
0  10.993428  35.846293
1   9.723471  45.793547
2  11.295377  46.572855
3  13.046060        NaN
4   9.531693  48.387143
5        NaN  54.040509
6  13.158426  68.861859
7  11.534869  51.745778
8   9.061051  52.575504
9  11.085120  49.255541

In [8]:
# 평균으로 결측치 채우기
df_filled = df.copy()
df_filled['feature_1'] = df_filled['feature_1'].fillna(df_filled['feature_1'].mean())
df_filled['feature_2'] = df_filled['feature_2'].fillna(df_filled['feature_2'].mean())

# 결측치 확인
print("남은 결측치 개수:")
print(df_filled.isnull().sum())

남은 결측치 개수:
feature_1    0
feature_2    0
dtype: int64

In [9]:
# 이상치 제거 함수 정의
def remove_outliers_iqr(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR
    return df[(df[column] >= lower) & (df[column] <= upper)]

# 이상치 제거 적용
df_no_outliers = df_filled.copy()
df_no_outliers = remove_outliers_iqr(df_no_outliers, 'feature_1')
df_no_outliers = remove_outliers_iqr(df_no_outliers, 'feature_2')

print("제거 후 데이터 크기:", df_no_outliers.shape)

제거 후 데이터 크기: (98, 2)

In [10]:
from sklearn.preprocessing import MinMaxScaler

# 정규화 실행
scaler = MinMaxScaler()
normalized = scaler.fit_transform(df_no_outliers)

# 다시 DataFrame으로 변환
df_normalized = pd.DataFrame(normalized, columns=['feature_1', 'feature_2'])

# 확인
df_normalized.describe()

       feature_1  feature_2
count  98.000000  98.000000
mean    0.499653   0.441433
std     0.224860   0.207225
min     0.000000   0.000000
25%     0.372236   0.260816
50%     0.487855   0.452570
75%     0.636454   0.554733
max     1.000000   1.000000

In [11]:
from sklearn.preprocessing import StandardScaler

# 표준화 실행
scaler = StandardScaler()
standardized = scaler.fit_transform(df_no_outliers)

# 다시 DataFrame으로 변환
df_standardized = pd.DataFrame(standardized, columns=['feature_1', 'feature_2'])

# 확인
df_standardized.describe()

          feature_1     feature_2
count  9.800000e+01  9.800000e+01
mean   7.168302e-16  2.469680e-16
std    1.005141e+00  1.005141e+00
min   -2.233489e+00 -2.141161e+00
25%   -5.695660e-01 -8.760809e-01
50%   -5.273730e-02  5.401969e-02
75%    6.115116e-01  5.495568e-01
max    2.236590e+00  2.709316e+00