# ğŸ§¹ ADSP ì •ë¦¬ 05 - ë°ì´í„° ì „ì²˜ë¦¬ (Data Preprocessing)

## 1. ë°ì´í„° ì „ì²˜ë¦¬ë€?

- ë¶„ì„ ë° ëª¨ë¸ë§ ì „ì— ë°ì´í„°ë¥¼ ì •ì œí•˜ê³  ì¤€ë¹„í•˜ëŠ” ê³¼ì •
- ë°ì´í„° í’ˆì§ˆì´ ë¶„ì„ ê²°ê³¼ì™€ ëª¨ë¸ ì„±ëŠ¥ì— í° ì˜í–¥ì„ ë¯¸ì¹¨
- ì£¼ìš” ì‘ì—…:
  - ê²°ì¸¡ì¹˜ ì²˜ë¦¬
  - ì´ìƒì¹˜ ì²˜ë¦¬
  - ì •ê·œí™” ë° í‘œì¤€í™”
  - ë²”ì£¼í˜• ë³€ìˆ˜ ì¸ì½”ë”©

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# ì˜ˆì œ ë°ì´í„° ìƒì„±
np.random.seed(0)
df = pd.DataFrame({
    "age": np.random.randint(20, 60, 100),
    "income": np.random.normal(5000, 1500, 100),
    "gender": np.random.choice(["Male", "Female"], 100)
})

# ì¼ë¶€ ê²°ì¸¡ì¹˜ ì‚½ì…
df.loc[5:10, "income"] = np.nan

df.head()

   age       income  gender
0   20  4048.516859  Female
1   23  4455.888251  Female
2   23  3991.309328  Female
3   59  4460.670258  Female
4   29  3780.280577  Female

## 2. ê²°ì¸¡ì¹˜(Missing Values) ì²˜ë¦¬

- ë¶„ì„ ëŒ€ìƒì—ì„œ ê²°ì¸¡ì¹˜ëŠ” ë°˜ë“œì‹œ í™•ì¸í•˜ê³  ì²˜ë¦¬í•´ì•¼ í•¨
- ì£¼ìš” ë°©ë²•:
  - ì‚­ì œ: `dropna()`
  - í‰ê· /ì¤‘ì•™ê°’ìœ¼ë¡œ ëŒ€ì²´: `fillna()`

In [2]:
# ê²°ì¸¡ì¹˜ í™•ì¸
print("ê²°ì¸¡ì¹˜ ê°œìˆ˜:\n", df.isnull().sum())

# í‰ê· ìœ¼ë¡œ ëŒ€ì²´
df["income"] = df["income"].fillna(df["income"].mean())

# í™•ì¸
df.isnull().sum()

ê²°ì¸¡ì¹˜ ê°œìˆ˜:
 age       0
income    6
gender    0
dtype: int64

age       0
income    0
gender    0
dtype: int64

## 3. ì´ìƒì¹˜(Outliers) ì²˜ë¦¬

- í‰ê· ì—ì„œ í¬ê²Œ ë²—ì–´ë‚œ ê°’ì€ ë¶„ì„ ê²°ê³¼ë¥¼ ì™œê³¡ì‹œí‚¬ ìˆ˜ ìˆìŒ
- ì¼ë°˜ì ì¸ ê¸°ì¤€:
  - Z-scoreê°€ 3 ì´ìƒì´ë©´ ì´ìƒì¹˜ë¡œ ê°„ì£¼

In [3]:
from scipy.stats import zscore

# Z-score ê³„ì‚°
z = np.abs(zscore(df[["income"]]))

# ì´ìƒì¹˜ ì œê±° (Z-score 3 ì´ìƒì¸ í–‰ ì œê±°)
df = df[(z < 3).all(axis=1)]

df.shape  # ì œê±° í›„ ë°ì´í„° í¬ê¸° í™•ì¸

(100, 3)

## 4. ì •ê·œí™” ë° í‘œì¤€í™”

- ì •ê·œí™”: ê°’ì˜ ë²”ìœ„ë¥¼ [0, 1]ë¡œ ë§ì¶¤
- í‘œì¤€í™”: í‰ê·  0, í‘œì¤€í¸ì°¨ 1ë¡œ ë§ì¶¤
- ìŠ¤ì¼€ì¼ì´ ë‹¤ë¥¸ ë³€ìˆ˜ ê°„ ë¹„êµ/í•™ìŠµì„ ìœ„í•´ í•„ìš”

In [4]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

# í‘œì¤€í™”
scaler = StandardScaler()
df[["age", "income"]] = scaler.fit_transform(df[["age", "income"]])

df.describe()

                age        income
count  1.000000e+02  1.000000e+02
mean  -9.187096e-17  2.886580e-16
std    1.005038e+00  1.005038e+00
min   -1.500053e+00 -1.820159e+00
25%   -8.077815e-01 -8.706544e-01
50%   -3.639368e-02  6.443421e-16
75%    9.525650e-01  7.710833e-01
max    1.585499e+00  2.344945e+00

## 5. ë²”ì£¼í˜• ë³€ìˆ˜ ì¸ì½”ë”© (Categorical Encoding)

- ë¨¸ì‹ ëŸ¬ë‹ ëª¨ë¸ì€ ìˆ«ìë§Œ ì²˜ë¦¬í•  ìˆ˜ ìˆìœ¼ë¯€ë¡œ
  ë¬¸ìì—´ë¡œ ëœ ë²”ì£¼í˜• ë³€ìˆ˜ëŠ” ìˆ«ìë¡œ ë³€í™˜í•´ì•¼ í•¨
- ë°©ë²•:
  - Label Encoding: ìˆœì„œê°€ ìˆëŠ” ê²½ìš°
  - One-Hot Encoding: ìˆœì„œê°€ ì—†ëŠ” ë²”ì£¼ (ex. ì„±ë³„, ì§€ì—­)

In [5]:
# gender ë³€ìˆ˜ one-hot ì¸ì½”ë”©
df = pd.get_dummies(df, columns=["gender"], drop_first=True)

df.head()

        age    income  gender_Male
0 -1.500053 -0.861694        False
1 -1.262702 -0.573087        False
2 -1.262702 -0.902223        False
3  1.585499 -0.569699        False
4 -0.788002 -1.051729        False

## âœ… ìš”ì•½: ë°ì´í„° ì „ì²˜ë¦¬ íë¦„ ì •ë¦¬

1. **ê²°ì¸¡ì¹˜ ì²˜ë¦¬**  
   - ì‚­ì œ or í‰ê· /ì¤‘ì•™ê°’/ëª¨ë¸ ê¸°ë°˜ ëŒ€ì²´

2. **ì´ìƒì¹˜ ì²˜ë¦¬**  
   - Z-score, IQR ë“±ìœ¼ë¡œ íƒì§€ ë° ì œê±°

3. **ì •ê·œí™” / í‘œì¤€í™”**  
   - MinMaxScaler / StandardScaler ì‚¬ìš©

4. **ë²”ì£¼í˜• ë³€ìˆ˜ ì¸ì½”ë”©**  
   - pd.get_dummies()ë¡œ One-hot Encoding

---

â†’ ì „ì²˜ë¦¬ëŠ” ë°ì´í„° ë¶„ì„ ë° ëª¨ë¸ë§ì˜ **ê¸°ì´ˆ ì²´ë ¥ í›ˆë ¨!**
â†’ ê¹¨ë—í•œ ë°ì´í„°ê°€ ì¢‹ì€ ê²°ê³¼ë¥¼ ë§Œë“ ë‹¤ ğŸ’ª